.products{
  position: relative;
  .container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    .products__more{
      @include size(4);
      display: flex;
      align-self: stretch;
      flex-direction: column;
      flex-wrap: wrap;
      .products__product{
        width: 100% !important;
      }
    }
    .products__product{
      @include col();
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin-top: 120px;
      opacity: 0;
      .hover{
        transition: .3s;
        top: 5%;
        left: 5%;
        opacity: 0;
        position: absolute;
        width: 90%;
        height: 90%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
        p{
          margin: 0;
          margin-bottom: 15px;
          font-family: "Open Sans";
          font-size: 20px;
          color: #000;
          font-weight: 500;
          text-decoration: none;
        }
        h5{
          font-size: 32px;
          font-family: Helvetica;
          color: #000;
          margin-top: 0;
          margin-bottom: 0;
        }
      }
      &:hover .hover{
        transition: .3s;
        opacity: 1;
      }
      &:after{
        content: "";
        display: block;
        padding-top: 100%;
      }
      &:nth-child(3n + 1){
        @include size(8);
        background-image: url("../img/item1.jpg");
      }
      &:nth-child(3n + 2), &:nth-child(4n + 3){
        @include size(4);
        background-image: url("../img/item2.png");
      }
      &:nth-child(3n + 3){
        @include size(12);
        background-image: url("../img/item3.png");
        &:after{
          padding-top: 30%;
        }
      }
    }
  }
}