.product{
  height: 100vh;
  position: relative;
  .owl-dots{position:absolute;left:0;right:0;bottom:15px;text-align:center}
  .owl-dot{display:inline-block;padding:5px}
  .owl-dot span{display:block;width:10px;height:10px;background-color:#fff;opacity:.5;border-radius:50%}
  .owl-dot.active span{opacity:1}
  .image{
    width: 100%;
    height: 100vh;
  }
  .fs-slides {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .fs-slides{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2;
  }
  .fs-slides .owl-stage-outer,
  .fs-slides .owl-stage,
  .fs-slides .owl-item {
    height: 100%;
  }

  .fs-slides .owl-item {
    overflow: hidden;
  }

  .fs-slides .owl-item.portrait img {
    width: 100%;
    height: auto;
  }

  .fs-slides .owl-item.landscape img {
    width: auto;
    height: 100%;
  }

  .owl-nav {
    position: absolute;
    top: 50%;
    width: 1070px;
    display: flex !important;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    div{
      color: transparent;
      width: 42px;
      height: 42px;
      background: url("../img/arrow.jpg") no-repeat center;
      &.owl-next{
        transform: rotate(180deg);
      }
    }
  }
  .container{
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 3;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    @include wrapper();
    .content__top{
      @include col();
      @include size(4);
    }
    &._top{
      top: 40px;
      .content__top{
        @include size(6);
        background-color: #fff;
        .content-top__top{
          display: flex;
          .back{
            @include size(2);
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
            &:after{
              background: #000;
              position: relative;
              top: 0;
              left: 0;
              content: '';
              padding-top: 100%;
              z-index: 0;
              width: 100%;
            }
            &:hover span{
              margin-left: -5px;
            }
            span{
              transform: translateX(-50%);
              transform: translateY(-50%);
              z-index: 1;
              position: absolute;
              transition: .4s;
              width: 30px;
              height: 2px;
              background-color: #fff;
              border-radius: 100px;
              display: block;
              margin-bottom: 8px;
              &:first-child{
                transform: rotate(-38deg);
                width: 20px;
                top: 21px;
                left: 12px;
              }
              &:nth-child(2){
                margin-bottom: 4px;
              }
              &:last-child{
                transform: rotate(38deg);
                width: 20px;
                bottom: 15px;
                left: 12px;
              }
            }
          }
          .title{
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f5f5f5;
            h4{
              font-weight: 400;
              font-size: 20px;
              text-align: center;
              margin: 0;
            }
          }
        }
        .content-top__content{
          padding: 15px;
          p{
            margin: 0px;
            line-height: 35px;
          }
        }
      }
    }
    &._bottom{
      bottom: 0;
      .content__bottom{
        display: flex;
        div{
          @include col();
          padding: 30px 70px;
          background-color: #f5f5f5;
          text-transform: uppercase;
        }
      }
    }
  }
}