@import "normalize";
@import '_owl.carousel.min.scss';
@import "smart-grid";
@import "settings";
@import "_main";
@import "_products";
@import "_footer";
@import "_menu";
@import "_works";
@import "_contacts";
@import "_about";
@import "_product";